@charset "UTF-8";

.best-icon{
	width: 212px;
	height: 40px;
   width: 212px;
   height: 40px;
}
.best-icon img{
   width: 40px;
   height: 40px;
}

body {
        width: 1000px;
        height: 100%;
}

.bar {
    width: 990px;
    height: 18px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #f3f3f3;
    font-size: 12px;
    text-align: left;
    margin-bottom: 15px;
}


.head-title {
    display: block;
    float: left;
    width: 720px;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 25px;
     padding-top: 20px;
    padding-left: 40px;
    color: #3a3a3a;
}

.prodSection {
    display: flex;
    width: 820px;
}
table{
   margin-bottom: 20px;
   margin-left:-50px;
   border-spacing: 8px;
}

tr{
  border-spacing: 20px;
}

#page{
    width: 22px;
    height: 22px;
    font-size: 12px;
    color: black;
    border: 0;
    background-color: white;
    border: 1px #ff7f50 solid;
    border-radius: 5px;
    margin-left: 70px;
    cursor: pointer; 
}
#page:focus {
    background-color:#ff7f50;
    color:white;
    outline: none;
    border-radius: 5px;
}
.prodImg {
 width: 226px;
 height: 235px;
 border-radius: 24px;
 overflow: hidden;
 background-color: #f5f5f5;
 padding-top: 20px; 
}
.prodImg img {
    width: 226px;
    cursor: pointer;
    margin-bottom: 10px;
}

.prodName{
   width: 200px;
   height: 32px;
    padding: 8px;
    color: #808080;
    font-weight: bold;
      margin: 0;
    font-size: 13px;
      text-align: left;
}
.prodTitle {
    width: 200px;
    height: 58px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 2px;
    color: #333333;
    cursor: pointer;
}
.prodPrice {
    width: 200px;
    height: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    padding-bottom: 34px;
<<<<<<< HEAD
}
=======
}
>>>>>>> branch 'master' of https://github.com/lbr410/mni
