@charset "UTF-8";
body{
	width: 1200px;
	height: 100%;
}

.bar{
	width: 990px;
	height: 20px;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #f3f3f3;
	font-size: 12px;
	text-align: left;
	margin-bottom: 15px;
}
.top{
	width: 960px;
	height: 60px;
	padding-top: 10px;
	padding-bottom: 30px;
}
.brandlogo{
	width:90px;
	height: 60px;
	overflow: hidden;
}
.banner{
	width: 1000px;
	height: 350px;
}
.imgslide{
	width: 1000px;
	height: 350px;
}
.menu{
	margin: 0 auto;
	width: 1000px;
}
.category{
	float: left;
	width: 150px;
	height: 900px;
	margin-top: 24px;
}
.list1{
	border-bottom: 1px solid #cccccc;
	padding: 14px;
	color: #ff7f50;
}
.list2{
	padding: 14px;
}
.head-title{
	margin-top:50px; 
	display: block;
    float: left;
    width: 680px;
    font-size: 24px;
    font-weight: bold;
    padding-bottom:25px;
    padding-left: 60px;
    color: #3a3a3a; 
}


.description-section {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: rgb(34, 34, 34);  
    gap: 3px;
}

#title{
	cursor: pointer;
	color: dimgray;
}

.prodSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 850px;
}
table {
    border-spacing: 16px;
  	margin-bottom: 20px;
  	width: 800px;
  	margin-right: 50px;
}

tr{
    border-spacing: 6px;
}
.prodImg {
    width: 200px;
    height: 235px;
    border-radius: 24px;
    overflow: hidden;
    background-color: #f1f1f1;
}
.prodImg img {
	margin-top:15px;
    width: 200px;
}
.prodName{
     width: 200px;
     height: 20px;
     font-size: 14px;
     padding: 8px;
     color: dimgray;
     margin: 0;
     font-size: 18px;
     text-align: left;
}
.prodTitle {
     width: 200px;
     height: 20px;
     font-size: 14px;
     padding: 8px;
}
hr{
	width: 780px; 
	margin-top: 10px;
}

.prodPrice {
     width: 200px;
     height: 20px;
     font-size: 14px;
     padding: 8px;
     padding-bottom: 34px;
}
.prodNum{
	margin-top: 55px;
}

.page{	
	width: 25px;
   font-size: 15px;
   background-color:white;
   text-decoration: none;
   border: 0.5px solid;
   border-color: #ff7f50;
   cursor: pointer;
   
}
.nowPage{
	width: 25px;
   font-size: 15px;
   background-color:#ff7f50;
   text-decoration: none;
   border: 0.5px solid;
   border-color: white;
}
.brand-list-item{
	width: 200px;

}
