@charset "UTF-8";
.loginsection{width: 1200px; margin: 0px auto; padding: 50px;}
	.img{width: 350px; margin-left: 60px;}
	.textbox{
	width: 500px; 
	height: 70px; 
	margin-top: 20px; 
	border: 1px solid lightgray; 
	border-radius: 50px;
	text-align: left 10px;
	}
	.button{
	width: 507px; 
	height: 70px; 
	margin-bottom: 10px; 
	border: 1px solid #ff7f50; 
	border-radius: 50px; 
	background-color: #ff7f50;
	color: white;
	cursor: pointer;
	}
	.textsize{font-size: 20px;}
	input{font-size: 18px;}
	input[type="checkbox"]{zoom: 1.5;}