@charset "UTF-8";
.section{
	margin: 0px auto;
}
.prod{
	width: 1000px;
}
.prodimg img{
	float:left;
	height: 500px;
	 width: 600px;
}
.prodtitle{
	float: right;
	 width: 400px;
}
#prodcount{
	background-color:#e9e9e9;
	border: 0px;
	width: 25px;
	font-size: 20px;
}
.prodname{
	margin-top:30px;
	 font-size: 25px;
}
.prodprice{
	margin-top:15px;
	 font-size: 30px;
}
.prodcount{
	margin-top:30px;
	background-color:#e9e9e9;
	font-size: 20px;
	border-radius: 10px;
}
.prodcount span{
	margin-left: 200px;
}
#hr{
	margin-top: 15px;
}
#prodcart{
	margin-left: 240px;
	font-size: 20px;
	font-weight: bold;
}
.prodcart{
	margin-top: 15px;
}
.ul li{
	margin-top:40px;
	font-size: 25px;
	float: left;
	padding-right: 130px;
}
.ul li a{
	font-weight: normal;
}
#ulhr{
	background-color: #e9e9e9;
	height: 2px;
	border: 0;
}
.section h2{
	margin-top: 15px;
	margin-right: 580px;
}
.info{
	margin-top: 20px;
}
#cart{
	margin-top:15px;
	text-align: center;
	font-size:20px;
	color:white;
	background-color: #ff7f50;
	text-decoration: none;
	width: 400px;
	height: 50px;
	border-radius: 10px;
	cursor: pointer;
	border: 0;
}
#detail_img{
	margin-top: 40px;
}
.detail_hr{
	background-color: black;
	height: 2px;
	border: 0;	
}
.reviewImg{
	border: 1px solid gray; 
    height: 200px;
    width: 200px; 
    border-radius: 100%; 
    background-color: darkgray; 
    background: url('/mni/img/logo.png') darkgray center; 
    background-size: 265px;
    position:relative;
    top:180px;
    left: -424px;
}