@charset "UTF-8";
body {
	margin: 0 auto;
}

.divSize {
	width: 1250px;
}

span {
	font-size: 30px;
	font-weight: bold;
	color: #ff7f50;
}

section {
	margin: 0px auto;
	float: left;
}

.text_size {
	width: 360px;
	height: 30px;
}

select {
	width: 150px;
}

label {
	display: inline-block;
	width: 90px;
	font-weight: bold;
}

.text_margin_top {
	margin-top: 10px;
}

.select_margin_top {
	margin-top: 5px;
}

.text_margin_top2 {
	margin-top: 20px;
}

.buttonDeco {
    width: 465px;
    height: 35px;
    color: white;
    background-color: #ff7f50;
    border: none;
    border-radius: 5px;
    margin-bottom: 50px;
}

.select_title {
	display: inline-block;
	width: 150px;
}

.textFocus {
    display: flex;
    flex-direction: row-reverse;
    width: 462px;
    align-items: center;
}

.textFocus input {
    /*width: 100%;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #111111;
    border: 0;
    border: 1px #cccccc solid;
}

.textFocus label {
    font-size: 16px;
    color: #111111;
    word-break: keep-all;
    padding-right: 14px;
}

.textFocus input:focus {
    border-color:#ff7f50;
    outline: none;
}
.textFocus input:focus + label {
    color: #ff7f50;
}