@charset "UTF-8";
.section{
   margin: 0px auto;
   width: 1000px;
}
.prod{
   width: 1000px;
}
/*상품 타이틀 이미지*/
.prodimg img{
   float:left;
   height: 500px;
    width: 500px;
}
/*상품 제목 가격 장바구니*/
.prodtitle{
   float: right;
    width: 400px;
}
.prodcount{
	padding-left: 20px;
	padding-top: 14px;
	padding-bottom: 14px;
}
/*수량 강조*/
#prodcount{
   background-color:#e9e9e9;
   border: 0px;
   width: 25px;
   font-size: 20px;
   text-align: center;
}
/*상품 이름*/
.prodname{
   margin-top:30px;
    font-size: 25px;
}
/*상품 가격*/
.prodprice{
   margin-top:15px;
    font-size: 30px;
}
/*상품 수량*/
.prodcount{
   margin-top:30px;
   background-color:#e9e9e9;
   font-size: 20px;
   border-radius: 10px;
   padding: 3px;
}
/*상품 가격*/
.prodcount span{
   margin-left: 220px;
}
/*주문금액 구분선*/
#hr{
   margin-top: 15px;
}
/*주문 금액,가격*/
#prodcart{
   margin-left: 240px;
   font-size: 20px;
   font-weight: bold;
}
.prodcart{
   margin-top: 15px;
}
/*장바구니*/
#cartBtn{
   margin-top:15px;
   text-align: center;
   font-size:20px;
   color:white;
   background-color: #ff7f50;
   text-decoration: none;
   width: 400px;
   height: 50px;
   border-radius: 10px;
   cursor: pointer;
   border: 0;
}
/*메뉴*/
.ul li{
   margin-top:80px;
   float: left;
   padding-left: 80px;
   padding-right: 100px;
   margin-bottom: 20px;
}
.ul li a{
   font-weight: bold;
   color: dimgrey;
   font-size: 18px;
}
/*메뉴 구분선*/
#ulhr{
   width:1000px;
   background-color: #e9e9e9;
   height: 2px;
   border: 0;
}/*상세정보*/
#section_dt{
   margin-top: 15px;
   margin-right: 580px;
}
/*리뷰*/
.section_rv{
   margin-top: 50px;
   margin-right: 580px;
   width: 425px;
   margin-bottom: 10px;
}
.a{font-size:25px;padding-bottom: 8px;}
.rv{margin-left: 800px;color:dimgrey;}
.none_rv{margin-top: 20px;}
.info{
   margin-top: 20px;
}
.detail_hr{
   width:1000px;
   background-color: black;
   height: 2px;
   border: 0;
   margin-top: 5px;
}
.detail_imgs{
	margin-top: 20px;
}
/*리뷰 사용자 이미지*/
.reviewImg{
    height: 50px;
    width: 50px; 
    border-radius: 100%; 
    background: url('/mni/img/logo.png') #cccccc center; 
    background-size: 63px;
    position:relative;
    top:30px;
    left: -475px;
}
/*리뷰 아이디 작성날짜*/
.review_id{
   width: 200px;
   position:relative;
    left: -340px;
    top: -20px;
}
.body_hr{
   margin-top: 25px;
}
/*리뷰 내용*/
.review_content{
   width: 1000px;
   margin-top: 10px;
}
.review_hr{
   margin-top: 50px;
   background-color: #cccccc;
   height: 1px;
   border: 0;
}
/*주문취소*/
.cancel{
   list-style-type: disc;
   position:relative;
   left: 20px;
}
.title_img {
   width: 100px;
   height: 100px;
}
.button_m{
   border-radius: 100%;
   border: none;
   width:24px;
   height:26px;
   font-size: 17px;
   cursor: pointer;
   background-color:white;
   font-weight: 100;
   margin-top: 10px;
}
.button_p{
   border-radius: 100%;
   border: none;
   width:24px;
   height:28px;
   font-size: 20px;
   cursor: pointer;
   background-color:white;
   font-weight: 80;
}
.order_price{
   font-weight: bold;
   font-size: 25px;
   border: none;
   float: right;
   text-align: right;
}
.order_price:focus {
   display: none;
}

.prod_count{
	font-size:15px;
	margin-top: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
}
fieldset{padding: 10px; border: 1px solid #cccccc;}
.soldout{
	margin-top: 10px;
	margin-left: 100px;
}
.prodcount_prod{
	padding-top: 10px;
	font-size: 16px;
}

.reviewContentImg {
	margin-top: 20px;
	width: 100px;
	height: 100px;
}