@charset "UTF-8";
body {
	margin: 0 auto;
}

.proImg {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	float: left;
	margin-right: 20px;
	background-color: #cccccc;
}

.SpanMargin {
	position: relative;
	top: 10px;
	margin-top: 30px;
}

.contentMargin {
	margin-top: 40px;
}

.hrStyle {
	background: #cccccc;
	height: 1px;
	border: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 800px;
}

section {
	margin: 0 auto;
}

.reviewContentImg {
	margin-top: 20px;
	width: 400px;
	height: 400px;
}

.reviewSize {
	width: 800px;
}

h2 {
	width: 800px;
	margin-top: 30px;
}

#page{
    width: 22px;
    height: 22px;
    font-size: 12px;
    color: black;
    border: 0;
    background-color: white;
    border: 1px #ff7f50 solid;
    border-radius: 5px;
    margin-left: 70px;
    cursor: pointer; 
}

#page:focus {
    background-color:#ff7f50;
    color:white;
    outline: none;
    border-radius: 5px;
}