@charset "UTF-8";
body {
	margin: 0 auto;
}

.tableSize {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 600px;
	border-top: 1px solid #cccccc;
	text-align: center;
}

h1 {
	font-size: 24px;
}

textarea {
	margin-top: 15px;
    width: 600px;
    height: 200px;
    resize: none;
    padding: 12px;
    font-size: 14px;
    color: #111111;
    border: 1px #cccccc solid;
    font-family: '맑은 고딕';
}

textarea:focus {
	border-color:#ff7f50;
    outline: none;
}

.textCount {
	text-align: right;
	color: #646464;
}

#preview {
	width: 100px;
	height: 100px;
}

.menu {
	font-weight: bold;
}

.td0 {
	text-align: left;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
}

.td1 {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 8px;
	border-bottom: 1px solid #cccccc;
}

.td2 {
	text-align: right;
	padding-top: 10px;
}

.countBtn {
	cursor: pointer;
    width: 150px;
    height: 30px;
    color: white;
    font-size: 14px;
    background-color: #ff7f50;
    border-radius: 5px;
    border: none;
    outline: none;
  	box-shadow: none;
}