@charset "UTF-8";
body {
	width: 1200px;
	margin: 100px auto;
}

h1 {
	color: #ff7f50;
}

.date_size {
	width: 150px;
}

.font_Deco {
	font-size: 18px;
	font-weight: bold;
}

.font_Deco2 {
	font-size: 30px;
	font-weight: bold;
}