@charset "UTF-8";
body {
	margin: 0 auto;
}

.divSize {
	width: 1250px;
}

h1 {
	margin: 0 auto;
	padding-top: 50px;
	color: #ff7f50;
}

.date_size {
	width: 150px;
}

.font_Deco {
	font-size: 18px;
	font-weight: bold;
}

.font_Deco2 {
	font-size: 30px;
	font-weight: bold;
}